[submodule "GREEN_VALLEYS/HOLY_ASHVABRA_ASHRAM/HOLY_ASHVABRA_TEMPLE"]
	path = GREEN_VALLEYS/HOLY_ASHVABRA_ASHRAM/HOLY_ASHVABRA_TEMPLE
	url = git@github.com:OWNMYTHOS/HOLY_ASHVABRA_TEMPLE.git
[submodule "VOLCANOES_VALLEY"]
	path = VOLCANOES_VALLEY
	url = git@github.com:THREEPOEMS/VOLCANOES_VALLEY.git
